<!DOCTYPE html>
<html lang="en">



<head>

    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords"
        content="firware development,hardware development,fullstack development,fdi devlopment,Edd development,Dtm development" />

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Rhosigma is into Electronic Product Technology Developement, Manufacturing, Aftersales Services, Supply Chain Management, Design Engineering, Internet of Things, Electronic Manufacturing Services, Defense, Telecommunication and Energy." />

    <meta property="og:title" content="Rhosigma Engineering & Automations-Pvt-Ltd" />
    <meta property="og:description" content="Rhosigma is into Electronic Product Technology Developement, Manufacturing, Aftersales Services, Supply Chain Management, Design Engineering, Internet of Things, Electronic Manufacturing Services, Defense, Telecommunication and Energy." />

    <meta property="og:image" content="images/main-slider/Og.png">
    <meta property="og:url" content="https://www.rhosigma.in/">

    <!-- FAVICONS ICON -->
      <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">


    <!-- PAGE TITLE HERE -->
    <title>Rhosigma Engineering & Automations-Pvt-Ltd</title>



    <!-- BOOTSTRAP STYLE SHEET -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!-- FONTAWESOME STYLE SHEET -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- OWL CAROUSEL STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.min.css">
    <!-- BOOTSTRAP SLECT BOX STYLE SHEET  -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-select.min.css">
    <!-- MAGNIFIC POPUP STYLE SHEET -->

    <!-- LOADER STYLE SHEET -->

    <!-- MAIN STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">


    {{!--
    <link rel="stylesheet" type="text/css" href="{{service 'css/style.css'}}"> --}}
    <!-- FLATICON STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="/css/flaticon.min.css">



    <!-- THEME COLOR CHANGE STYLE SHEET -->
    <link rel="stylesheet" class="skin" type="text/css" href="/css/skin/skin-2.css">
    <!-- SIDE SWITCHER STYLE SHEET -->
    {{!--
    <link rel="stylesheet" type="text/css" href="/css/switcher.css"> --}}


    <!-- REVOLUTION SLIDER CSS -->
    <link rel="stylesheet" type="text/css" href="/plugins/revolution/revolution/css/settings.css">
    <!-- REVOLUTION NAVIGATION STYLE -->
    <link rel="stylesheet" type="text/css" href="/plugins/revolution/revolution/css/navigation.css">

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Teko:300,400,500,600,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&amp;display=swap" rel="stylesheet">



</head>



<!-- HEADER START -->
<header class="site-header header-style-1 mobile-sider-drawer-menu">



    <div class="top-bar site-bg-secondry">
        <div class="container">

            <div class="d-flex justify-content-between">
                <div class="wt-topbar-left d-flex flex-wrap align-content-start">
                    <ul class="wt-topbar-info e-p-bx text-white">
                        <li><span> Monday - Saturday</span><span>9.30AM -6.30PM</span></li>
                        <li> <a href="tel:8655587403" style="color: white;"> <i class="fa fa-phone"></i>
                                8655587403</a></li>
                        <li> <a href="tel:8097390322" style="color: white;"> <i class="fa fa-phone"></i>
                                8097390322</a></li>
                        <li> <a href="mailto:saeed.lanjekar@rhosigma.in" style="color: white;"><i
                                    class="fa fa-envelope"></i>info@rhosigma.in</a></li>
                    </ul>
                </div>

                <!-- <div class="wt-topbar-right d-flex flex-wrap align-content-center">
                                <div class="header-search">
                                    <a href="javascript:;" class="header-search-icon"><i class="fa fa-search"></i></a>
                                </div>                          
                            </div> -->
            </div>

        </div>
    </div>


    <div class="container header-middle clearfix">
        <div class="logo-header">
            <div class="logo-header-inner logo-header-one">
                <a href="/">
                    <img src="/images/logo/rhosigma-png color.png" alt="company logo" width="500px" />
                </a>
            </div>
        </div>

        <div class="header-info">
            <ul>
                <li>
                    <div class="icon-md">
                        <span class="icon-cell"><i class="flaticon-trophy"></i></span>
                    </div>
                    <div class="icon-content">
                        <strong>The Best Industrial</strong>
                        <span>Solution Provider</span>
                    </div>
                </li>
                <li>

                    <div class="icon-md">
                        <span class="icon-cell"><i class="flaticon-stamp"></i></span>
                    </div>
                    <div class="icon-content">
                        <strong>Certified Company</strong>
                        <span>ISO 9001-2015</span>
                    </div>

                </li>
            </ul>
        </div>

    </div>

    <div class="sticky-header main-bar-wraper  navbar-expand-lg">
        <div class="main-bar">
            <div class="container clearfix">
                <!-- NAV Toggle Button -->
                <button id="mobile-side-drawer" data-target=".header-nav" data-toggle="collapse" type="button"
                    class="navbar-toggler collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar icon-bar-first"></span>
                    <span class="icon-bar icon-bar-two"></span>
                    <span class="icon-bar icon-bar-three"></span>
                </button>

                <!-- MAIN Vav -->
                <div class="nav-animation header-nav navbar-collapse collapse d-flex justify-content-center">

                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="about">About</a></li>

                        <li class="has-mega-menu"><a href="services">Services</a>
                            <ul class="mega-menu">
                                <li>

                                    <ul class="megs">
                                        <li>
                                            <h3 style="font-family: inherit;font-size:18px ;padding-left: 8px;">Embedded
                                                Electronics</h3>
                                        </li>
                                        <li><a href="/Service/embedded-firmware-development">Firmware Development</a>
                                        </li>
                                        <li><a href="/Service/embedded-hardware-development">Hardware Development</a>
                                        </li>

                                    </ul>
                                </li>
                                <li>
                                    <ul class="megs">
                                        <li>
                                            <h3 style="font-family: inherit;font-size:18px;padding-left: 8px;">IT
                                                Services</h3>
                                        </li>

                                        <li><a href="/Service/mobile-application-development">Mobile App Development</a>
                                        </li>
                                        <li><a href="/Service/desktop-application-development">Desktop App
                                                Development</a></li>
                                        <li><a href="/Service/web-application-development">Web App Development</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <ul class="megs">
                                        <li>
                                            <h3 style="font-family: inherit;font-size:18px ;padding-left: 8px;">HART
                                                </h2>
                                        </li>

                                        <li><a href="/Service/hart-portocol-implementation">HART protocol </a></li>
                                        <li><a href="/Service/EDD-Developoment-for-Device-Manufacturers">EDD Development
                                            </a></li>
                                        <li><a href="/Service/EDD-Analysis-and-Verification">EDD Analysis </a></li>
                                        <li><a href="/Service/FDI-Development-for-Device-Manufacturers">FDI Development
                                            </a></li>
                                        <li><a href="/Service/DTM-Development-for-Device-Manufacturers">DTM Development
                                            </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li><a href="/blog">Blog</a>

                        </li>
                    

                        <li><a href="/career">Career</a> </li>
                        <li><a href="/project">Project</a>

                        </li>

                        <li><a href="/contact">Contact us</a></li>
                    </ul>

                </div>

                <div class="header-nav-request">
                    <a href="/contact" class="contact-slide-show">Request a Quote <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>


</header>
<!-- HEADER END -->